/* http://colorpalettes.net/color-palette-2151/ */

/* Basic Styles */
body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #fdfcfb;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Header */
header {
  background-color: #558976;
  height: 80%;
  width: 100%;
}

header h1 {
  font-size: 42px;
  font-family: 'Over the Rainbow', cursive;
  color: #fdfcfb;
}

header nav ul li {
  font-weight: bold;
  list-style: none;
}

header nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 22px;
  color: #f6f2ea;
}

header nav ul li a:hover {
  color: #fdfcfb;
}

header h2 {
  font-size: 32px;
  color: #f6f2ea;
  font-family: 'Over the Rainbow', cursive;
  width: 80%;
  padding: 30px 0px;
}

/* About Sarah */
#about {
  height: 80%;
  width: 100%;
}

#about h2 {
  font-size: 32px;
  font-family: 'Over the Rainbow', cursive;
  color: #558976;
}

#about img {
  height: 300px;
}

#about p {
  font-size: 20px;
  color: #333;
  line-height: 32px;
}

#about a {
  color: #558976;
}

#about a:hover {
  color: #9dac38;
}

/* Portfolio */
#portfolio {
  height: 80%;
  width: 100%;
}

#portfolio img {
  width: 335px;
}

#portfolio h2 {
  font-size: 32px;
  color: #558976;
  font-family: 'Over the Rainbow', cursive;
}

#portfolio h3 {
  font-size: 22px;
}

#portfolio ul {
  padding-bottom: 20px;
}

#portfolio ul li {
  font-size: 20px;
  color: #333;
}

/* Contact */
#contact {
  height: 80%;
  width: 100%;
}

#contact h2 {
  font-family: 'Over the Rainbow', cursive;
  font-size: 32px;
  color: #558976;
}

#contact p {
  font-size: 20px;
  color: #333;
}

#contact a {
  color: #558976;
}

#contact a:hover {
  color: #9dac38;
}

#contact img {
  height: 300px;
  padding-bottom: 25px;
}

/* Footer */
footer {
  background: #558976;
  height: 10%;
  width: 100%;
}

footer p {
  font-size: 16px;
  color: #f6f2ea;
  width: 50%;
}

footer nav ul {
  padding: 20px 0;
}

footer nav ul li {
  display: inline-block;
}

footer nav ul li i {
  text-decoration: none;
  color: #f6f2ea;
  padding-left: 15px;
}

footer nav ul li i:hover {
  color: #9dac38;
}
