/* http://colorpalettes.net/color-palette-2151/ */
/* Body */
body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #fdfcfb;
}

.container {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
}

/* Grid System */
.full-width {
  width: 100%;
  margin: 0 auto;
}

.half-width {
  width: 50%;
  float: left;
}

.third-width {
  width: 30%;
  float: left;
}

/* Header */
header {
  background-color: #558976;
  height: 600px;
}

header h1 {
  font-size: 42px;
  font-family: 'Over the Rainbow', cursive;
  color: #fdfcfb;
}

header nav {
  float: right;
  padding: 50px 0;
}

header nav ul li {
  font-weight: bold;
  list-style: none;
  display: inline-block;
}

header nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 22px;
  color: #f6f2ea;
  padding-left: 15px;
}

header nav ul li a:hover {
  color: #fdfcfb;
}

header h2 {
  font-size: 32px;
  color: #f6f2ea;
  font-family: 'Over the Rainbow', cursive;
  padding: 85px 0;
  line-height: 80px;
  margin-left: 150px;
  clear: both;
}

/* About Sarah */
#about {
  height: 500px;
}

#about .full-width {
  padding: 25px 0;
}

#about h2 {
  font-size: 42px;
  font-family: 'Over the Rainbow', cursive;
  color: #558976;
}

#about img {
  height: 500px;
}

#about p {
  font-size: 20px;
  color: #333;
  line-height: 32px;
}

#about a {
  color: #558976;
}

#about a:hover {
  color: #9dac38;
}

/* Portfolio */
#portfolio {
  height: 500px;
}

#portfolio .full-width {
  padding: 50px 0;
}

#portfolio .third-width {
  padding-right: 25px;
}

#portfolio h2 {
  font-size: 42px;
  color: #558976;
  font-family: 'Over the Rainbow', cursive;
}

#portfolio h3 {
  font-size: 32px;
}

#portfolio ul {
  padding-bottom: 20px;
}

#portfolio ul li {
  font-size: 20px;
  color: #333;
}

/* Contact */
#contact {
  height: 80%;
  width: 100%;
}

#contact h2 {
  font-family: 'Over the Rainbow', cursive;
  font-size: 32px;
  color: #558976;
}

#contact p {
  font-size: 20px;
  color: #333;
}

#contact a {
  color: #558976;
}

#contact a:hover {
  color: #9dac38;
}

#contact img {
  height: 300px;
  padding-bottom: 25px;
}
