/* http://colorpalettes.net/color-palette-2151/ */
/* Basic Styles */
body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #fdfcfb;
}

.container {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

/* Header */
header {
  background-color: #558976;
  width: 80%;
}

header h1 {
  font-size: 32px;
  font-family: 'Over the Rainbow', cursive;
  color: #fdfcfb;
  padding: 20px;
}

header nav ul li {
  font-weight: bold;
  list-style: none;
  display: inline-block;
}

header nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  color: #f6f2ea;
  padding-left: 20px;
}

header nav ul li a:hover {
  color: #fdfcfb;
}

/* About Sarah */
#about {
  width: 80%;
}

#about h2 {
  font-size:32px;
  font-family: 'Over the Rainbow', cursive;
  color: #558976;
  padding-left: 15px;
}

#about img {
  height: 300px;
  padding-left: 75px;
}

#about p {
  font-size: 20px;
  color: #333;
  line-height: 32px;
}

#about a {
  color: #558976;
}

#about a:hover {
  color: #9dac38;
}

/* Portfolio */
#portfolio {
  width: 80%;
}

#portfolio h2 {
  font-size: 32px;
  color: #558976;
  font-family: 'Over the Rainbow', cursive;
  padding-left: 20px;
}

#portfolio h3 {
  font-size: 22px;
  padding-left: 20px;
}

#portfolio ul {
  padding-bottom: 20px;
}

#portfolio ul li {
  font-size: 20px;
  color: #333;
}

/* Contact */
#contact {
  width: 80%;
}

#contact h2 {
  font-family: 'Over the Rainbow', cursive;
  font-size: 32px;
  color: #558976;
  padding-left: 20px;
}

#contact p {
  font-size: 20px;
  color: #333;
  line-height: 42px;
}

#contact a {
  color: #558976;
}

#contact a:hover {
  color: #9dac38;
}

#contact img {
  height: 500px;
  margin-top: 55px;
}

/* Footer */
footer {
  background: #558976;
  height: 75px;
}

footer p {
  font-size: 16px;
  color: #f6f2ea;
}

footer nav ul li {
  display: inline-block;
}

footer nav ul li i {
  text-decoration: none;
  color: #f6f2ea;
  padding-left: 15px;
}

footer nav ul li i:hover {
  color: #9dac38;
}
