/* http://colorpalettes.net/color-palette-2151/ */
/* Basic Styles */
body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #fdfcfb;
}

.container {
  display: flex;
  flex-direction: column;
}

/* Grid System */
.full-width {
  width: 100%;
  margin: 0 auto;
}

.half-width {
  width: 50%;
  float: left;
}

.third-width {
  width: 30%;
  float: left;
}

/* Header */
header {
  background-color: #558976;
  height: 800px;
}

header h1 {
  font-size: 32px;
  font-family: 'Over the Rainbow', cursive;
  color: #fdfcfb;
  padding: 50px 0;
}

header nav {
  float: right;
  padding: 85px 55px;
}

header nav ul li {
  font-weight: bold;
  list-style: none;
  display: inline-block;
}

header nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 22px;
  color: #f6f2ea;
  padding-left: 80px;
}

header nav ul li a:hover {
  color: #fdfcfb;
}

header h2 {
  font-size: 42px;
  color: #f6f2ea;
  font-family: 'Over the Rainbow', cursive;
  padding: 80px 95px;
  line-height: 80px;
  clear: both;
  width: 90%;
}

/* About Sarah */
#about {
  height: 550px;
}

#about .full-width {
  padding: 20px 0;
}

#about h2 {
  font-size: 42px;
  font-family: 'Over the Rainbow', cursive;
  color: #558976;
}

#about img {
  height: 350px;
  padding-left: 95px;
}

#about p {
  font-size: 20px;
  color: #333;
  line-height: 32px;
  padding-right: 25px;
}

#about a {
  color: #558976;
}

#about a:hover {
  color: #9dac38;
}

/* Portfolio */
#portfolio {
  height: 650px;
}

#portfolio .full-width {
  padding: 20px 0;
}

#portfolio .third-width {
  padding-left: 25px;
}

#portfolio img {
  padding-bottom: 30px;
  width: 400px;
}

#portfolio h2 {
  font-size: 42px;
  color: #558976;
  font-family: 'Over the Rainbow', cursive;
}

#portfolio h3 {
  font-size: 32px;
  padding-left: 25px;
}

#portfolio ul {
  padding-bottom: 15px;
}

#portfolio ul li {
  font-size: 20px;
  color: #333;
}

/* Contact */
#contact {
  height: 550px;
}

#contact .full-width {
  padding: 50px 0;
}

#contact .half-width {
  padding-bottom: 25px;
}

#contact h2 {
  font-family: 'Over the Rainbow', cursive;
  font-size: 42px;
  color: #558976;
}

#contact p {
  font-size: 20px;
  color: #333;
  line-height: 42px;
}

#contact a {
  color: #558976;
}

#contact a:hover {
  color: #9dac38;
}

#contact img {
  height: 400px;
  padding-top: 55px;
}

/* Footer */
footer {
  background: #558976;
  height: 55px;
}

footer p {
  font-size: 16px;
  color: #f6f2ea;
}

footer nav ul li {
  display: inline-block;
}

footer nav ul li i {
  text-decoration: none;
  color: #f6f2ea;
  padding-left: 15px;
}

footer nav ul li i:hover {
  color: #9dac38;
}
