/* === Sass variables === */
$base-font: 'Josefin Slab',
serif;
$headline-font: 'Roboto Condensed',
sans-serif;
$accent-color: #558976;
$white: #fdfcfb;
$base-color: #333;
$hover-color: #9dac38;
$ivory:#f6f2ea;
$main-color: #385001;

/* ==== Basic Styles ==== */
body {
  background-color: $white;
  width: 100%;
  margin: 0 auto;
}

/* ==== Header ==== */
header {
  background-color: $main-color;

  .navbar-brand {
    font-size: 25px;
    font-family: $headline-font;
    color: $white;
  }

  ul {
    li {
      font-weight: bold;

      a {
        color: $white;
        font-size: 20px;
        font-family: $base-font;
      }

      a:hover {
        color: $hover-color;
      }
    }
  }
}

/* ==== Banner Section ==== */
#banner {
  width: 100%;
  color: #fbfcfe;
  padding: 20px 0;
  background-color: #017ac8;

  h2 {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    line-height: 52px;

    span {
      font-family: 'Oswald', sans-serif;
    }
  }

  h3 {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
  }
}

/* === Career Compass ===*/
#career-compass {
  padding: 40px;
  border: 2px solid $accent-color;

  h3 {
    font-size: 20px;
    font-family: $headline-font;
    text-align: center;
    padding-bottom: 15px;
  }

  p {
    font-family: $base-font;
    font-size: 20px;
    line-height: 32px;
  }

  img {
    padding-top: 15px;
  }
}

/* === Skills section === */
#skills {
  padding: 40px;

  h2 {
    font-family: $headline-font;
    font-size: 25px;
    color: $main-color;
  }

  h4 {
    font-family: $headline-font;
    font-size: 20px;
    color: $main-color;
    padding-top: 15px;
  }

  li {
    font-size: 20px;
    font-family: $base-font;
  }
}

/* === Tools === */
#tools {
  padding: 40px;

  h3 {
    font-family: $headline-font;
    font-size: 20px;
    color: $main-color;
  }

  h4 {
    font-family: $headline-font;
    font-size: 20px;
    color: $main-color;
    padding-top: 15px;
  }

  li {
    font-size: 20px;
    font-family: $base-font;
  }
}

/* === About section === */
#about {
  padding: 40px;
  background-color: $main-color;

  h2 {
    font-family: $headline-font;
    font-size: 25px;
    padding-bottom: 15px;
    color: $white;
  }

  p {
    font-size: 20px;
    line-height: 32px;
    font-family: $base-font;
    color: $white;
  }
}

/* === Portfolio === */
#portfolio {
  padding: 40px;

  h2 {
    text-align: center;
    font-family: $headline-font;
    font-size: 25px;
    color: $main-color;
  }

  img {
    margin: 40px 0;
  }

  h3 {
    font-size: 20px;
    font-family: $headline-font;
    text-align: center;
    color: $main-color;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
    line-height: 32px;
  }

  a {
    font-size: 20px;
    color: $accent-color;
    text-decoration: none;
    font-family: $base-font;
  }

  a:hover {
    color: $hover-color;
  }
}

/* === Publications section === */
#writing {
  padding: 40px;
  border: 2px solid $accent-color;

  h2 {
    font-size: 25px;
    font-family: $headline-font;
    color: $main-color;
    text-align: center;
    padding: 20px 0;
  }

  h4 {
    font-size: 20px;
    font-family: $headline-font;
    color: $main-color;
    padding-top: 15px;
  }

  p {
    font-family: $base-font;
    font-size: 20px;
    color: $base-color;
    padding: 10px 0;
  }

  a {
    color: $accent-color;
    text-decoration: none;
  }

  a:hover {
    color: $hover-color;
  }
}

/* === Video === */
#speaking {
  padding: 40px;
  background: $main-color;

  h2 {
    font-size: 25px;
    color: $white;
    font-family: $headline-font;
    padding: 15px 0;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
    line-height: 32px;
    color: $white;
  }

  a {
    color: $white;
    text-decoration: none;
  }

  a:hover {
    color: $hover-color;
  }

  iframe {
    width: 100%;
    margin-top: 20px;
  }
}

/* === Honors === */
#honors {
  padding: 40px;

  h3 {
    font-size: 20px;
    font-family: $headline-font;
    color: $main-color;
  }

  p {
    font-family: $base-font;
    color: $base-color;
    font-size: 20px;
    line-height: 32px;
  }

  a {
    color: $accent-color;
    text-decoration: none;
  }

  a:hover {
    color: $hover-color;
  }
}

/* === Side Projects === */
#side-projects {
  padding: 40px;
  border: 2px solid $accent-color;

  h3 {
    font-size: 20px;
    font-family: $headline-font;
    color: $main-color;
    padding: 15px 0;
  }

  h4 {
    font-size: 20px;
    font-family: $headline-font;
    color: $base-color;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
    color: $base-color;
    line-height: 32px;
    padding: 10px 0;
  }

  button {
    margin-bottom: 25px;
    font-size: 20px;
    color: $white;
    background-color: $main-color;
  }
}

/* ==== Footer ==== */
#contact {
  background-color: $ivory;
  padding: 15px 0;

  h3 {
    font-family: $headline-font;
    font-size: 20px;
    color: $main-color;
    padding: 15px 0;
  }

  p {
    font-size: 18px;
    color: $main-color;
    font-family: $headline-font;
    padding-left: 20px;

    i {
      color: $main-color;
      padding-right: 10px;
    }
  }

  li {
    padding: 10px 0;

    a {
      color: $main-color;
    }

    a:hover {
      color: $hover-color;
    }
  }
}

#copyright {
  background: $main-color;
  padding: 15px 0;

  p {
    font-size: 18px;
    color: $white;
    font-family: $headline-font;
  }
}

/* === Projects === */
#projects {
  padding: 40px;

  h2 {
    font-family: $headline-font;
    font-size: 25px;
    color: $main-color;
  }

  img {
    margin: 40px 0;
  }

  h3 {
    font-size: 20px;
    font-family: $headline-font;
    text-align: center;
    color: $main-color;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
    line-height: 32px;
  }

  a {
    font-size: 20px;
    color: $accent-color;
    text-decoration: none;
    font-family: $base-font;
  }

  a:hover {
    color: $hover-color;
  }
}