/* Sass variables */ 
$base-font: 'Josefin Slab', serif;
$headline-font: 'Roboto Condensed', sans-serif;
$background-color: #558976;
$white: #fdfcfb;
$base-color: #333;
$hover-color: #9dac38;

/* Basic Styles */
body {
    background-color: $white;
    width: 100%;
    margin: 0 auto;
    color: $base-color;
  }
  
/* ==== Header ==== */
header {
  background-color: $background-color;

  .navbar-brand {
      font-size: 30px;
      font-family: $headline-font;
      color: $white;
  }

  li {
    font-weight: bold;
    font-family: $headline-font;
    padding: 0 10px;

    a {
        color: $white;
        font-size: 20px;
    }

    a:hover {
        color: $hover-color;
    }
  }
}

/* ==== Hired Section ==== */
#hired {
  border: 2px solid $background-color;
  padding: 40px 15px;

  h2 {
    font-family: $headline-font;
    font-size: 35px;
    color: $background-color;
    padding: 10px 0;
  }

  p {
    font-size: 20px;
    line-height: 32px;
    font-family: $base-font;
  }

  h3 {
    font-size: 30px;
    font-family: $headline-font;
  }

  i {
    color: $background-color;
  }

  li {
    a {
      color: $background-color;
    }
  
    a:hover {
      color: $hover-color;
    }
  }
}

/* ==== Footer ==== */
footer {
  background: $background-color;
  padding: 25px 0;

  p {
    font-size: 16px;
    color: $white;
    font-family: $headline-font;
  }
}
  
/* ==== Home Page ==== */
.main-image img {
  height: 500px;
}

#career-compass {
  font-family: $base-font;
  font-size: 20px;
  line-height: 32px;
  padding: 40px 0;
}
  
/* ==== About Page ==== */
#about {
  padding: 40px 0;

  h2 {
    font-family: $headline-font;
    color: $background-color;
    font-size: 35px;
  }

  img {
    margin: 20px 0;
    width: 90%;
  }

  .first-group {
    padding: 20px 0;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
    line-height: 32px;
  }
}
  
/* Portfolio Page */
#gallery {
  padding: 40px 15px 20px 15px;

  h2 {
    font-family: $headline-font;
    font-size: 35px;
    color: $background-color;
  }

  img {
    margin: 25px 0;
  }

  h3 {
    font-size: 30px;
    font-family: $headline-font;
    text-align: center;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
    line-height: 32px;
  }

  a {
    color: $background-color;
    font-size: 20px;
    font-family: $base-font;
  }

  a:hover {
    color: $hover-color;
  }
}
  
#writing {
  padding: 15px;

  h3 {
    font-size: 30px;
    font-family: $headline-font;
    padding: 20px 0;
  }

  a {
    color: $background-color;
    font-size: 20px;
  }

  a:hover {
    color: $hover-color;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
  }

  h4 {
    font-size: 25px;
    font-family: $headline-font;
    padding: 15px 0;
  }

  li {
    font-size: 20px;
    font-family: $base-font;
  }
}

#side-projects {
  padding: 15px;

  h3 {
    font-size: 30px;
    font-family: $headline-font;
  }

  h4 {
    font-size: 25px;
    font-family: $headline-font;
    padding: 10px 0;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
    line-height: 32px;
  }

  button {
    background-color: $background-color;
    color: $white;
    margin-bottom: 25px;
  }
}

#honors {
  padding: 15px;

  h3 {
    font-size: 30px;
    font-family: $headline-font;
    padding: 15px 0;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
  }

  a {
    font-size: 20px;
    font-family: $base-font;
    color: $background-color;
  }

  a:hover {
    color: $hover-color;
  }
}

#video {
  padding: 15px;

  h3 {
    font-size: 30px;
    font-family: $headline-font;
    padding: 10px 0;
  }

  p {
    font-size: 20px;
    font-family: $base-font;
  }

  iframe {
    height: 400px;
    width: 100%;
  }
}

/* Project Pages */
#description {
  padding: 40px 15px;

  h2 {
    font-size: 35px;
    font-family: $headline-font;
    color: $background-color;
  }

  img {
    padding: 20px 0;
  }

  h3 {
    font-size: 30px;
    font-family: $headline-font;
    padding: 10px 0;
    color: $base-color;
  }

  li {
    font-size: 20px;
    color: $base-color;
    font-family: $base-font;
  }

  p {
    font-size: 20px;
    color: $base-color;
    line-height: 32px;
    font-family: $base-font;
  }

  a {
    font-size: 20px;
    color: $background-color;
    font-family: $base-font;
  }

  a:hover {
    color: $hover-color;
  }
}

#back {
  padding: 15px;
  
  a {
    color: $background-color;
    font-size: 20px;
    font-family: $base-font;
  }

  a:hover {
    color: $hover-color;
  }
}