<%- include("partials/header") %>

<section id="career-compass">
  <div class="full-width">
    <p>I'm a front-end web developer and content creator at BritishPandaChick.
      I have 9 years of experience teaching, designing curriculum and adjusting
      content to fit academic content standards. I am looking for a full-time remote
      front-end web developer role.</p>
  </div>
</section>

<section id="skills">
  <div class="full-width">
    <div class="third-width web-design">
      <i class="fas fa-pencil-ruler fa-10x"></i>
      <p>I organize and wireframe websites. I create PSD files that can be quickly
        and accurately converted into a website.</p>
    </div>

    <div class="third-width html">
      <i class="fab fa-html5 fa-10x"></i>
      <p>I write clean, semantic, well formatted HTML5 code. My code is easy
        to read, troubleshoot, accessible so other devs can collaborate with no issues.</p>
    </div>

    <div class="third-width css">
      <i class="fab fa-css3-alt fa-10x"></i>
      <p>I create easy to read CSS. Devs can build on my CSS code easily since
        it is easy to load and is consistent with the best practices.</p>
    </div>
  </div>
</section>

<section id="other-skills">
  <div class="full-width">
    <p>I have experience working with JavaScript, Ruby, and Python. I often
      work with JavaScript frameworks such as React and Redux. Right now I am
      using Node.js and Express to build web apps. I have worked with a
      variety of professional software including Adobe Creative Suite, Axure,
      GIMP and Postman.</p>
  </div>
</section>

<section id="contact">
  <div class="full-width">
    <h2>Interested in hiring me?</h2>
    <p>E-mail me britishpandachick@gmail.com.</p>

    <h3>Find me on Social Media</h3>
    <nav>
      <ul>
        <li><a href="http://www.facebook.com/sarahbartleybpc" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
        <li><a href="https://twitter.com/TheOriginalBPC" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a></li>
        <li><a href="https://www.linkedin.com/in/sarahbartleybpc" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
        <li><a href="https://www.instagram.com/britishpandachick" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
        <li><a href="http://www.pinterest.com/theoriginalbpc" target="_blank"><i class="fab fa-pinterest fa-2x"></i></a></li>
        <li><a href="https://github.com/BritishPandaChick" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
      </ul>
    </nav>
  </div>
</section>

<%- include("partials/footer") %>
