<%- include("partials/header") %>

<div class="container">
  <section id="portfolio">
    <div class="project">
      <h2>Portfolio</h2>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <img src="/img/tributepage2.16.png" alt="Tribute Page Project" class="img-responsive" />
        </div>

        <div class="half-width">
          <h3>Tribute Page</h3>
          <ul>
            <li>Create a tribute page website based on Duchess of Cambridge</li>
            <li>Uses HTML, CSS and Bootstrap</li>
            <li>Made mobile responsive website</li>
          </ul>
          <button onclick="openProjectOne()">See Project</button>
        </div>
      </div>
    </div>

    <div class="project">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <img src="/img/magic8ball2.16.png" alt="Magic 8 Ball Project" class="img-responsive" />
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">
          <h3>Magic 8 Ball</h3>
          <ul>
            <li>Create a magic 8 ball which tells users fortune to question</li>
            <li>Made with HTML, CSS, JavaScript and jQuery</li>
            <li>Debug website code. Edit JavaScript code to jQuery</li>
          </ul>
          <button onclick="openProjectTwo()">See Project</button>
        </div>
      </div>
    </div>

    <div class="project">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <img src="/img/catclock2.16.png" alt="LOL Cat Clock Project" class="img-responsive" />
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">
          <h3>LOL Cat Clock</h3>
          <ul>
            <li>Made a clock which changes images depending on time of day. Able to set alarm on clock.</li>
            <li>Made with HTML, CSS, JavaScript and jQuery</li>
            <li>Debug website code. Improve website functionality by drying up code.</li>
          </ul>
          <button onclick="openProjectThree()">See project</button>
        </div>
      </div>
    </div>
  </section>

  <section id="publications">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>Publications</h2>
      <p>Book Prescriber.<em>Stories about Books: How "What Color is Your Parachute" helped Sarah</em>. May 28, 2019.</p>
      <p>App Academy.<em>Nevertheless Sarah Bartley Coded: How I Started My Coding Career</em>. January 11, 2019</p>
      <p>The Practical Dev</p>
        <ul>
          <li><em>Sarah Bartley Continues to Code</em>. May 8, 2019</li>
          <li><em>2018 in Review</em>. December 31, 2018</li>
          <li><em>Nevertheless Sarah Bartley Coded</em>. May 7, 2018</li>
        </ul>
      <p>The Original BritishPandaChick. March 2015-October 2018.</p>
    </div>
  </section>

  <section id="community">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <h2>Certifications</h2>
      <p>SoloLearn</p>
        <ul>
          <li>HTML Fundamentals</li>
          <li>CSS Fundamentals</li>
          <li>JavaScript Tutorial</li>
          <li>jQuery Tutorial</li>
          <li>SQL Fundamentals</li>
        </ul>
      <p>Free Code Camp</p>
        <ul>
          <li>Responsive Web Design</li>
          <li>JavaScript Algorithms and Data Structures</li>
        </ul>
      <p>Skillcrush</p>
        <ul>
          <li>WordPress Web Development</li>
          <li>Web Design</li>
        </ul>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
      <h2>Speaking</h2>
      <p>Moms Can Code Virtual Summit.<em>How to Use Social Media to Build Your Personal Brand</em>. April 2018.</p>
      <p>Skillcrush. <em>Code Your Way to $1K: Q&A with Alumni</em>. April 2018.</p>
    </div>
  </div>
  </section>

  <section id="awards">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <h2>Awards & Honors</h2>
        <p>Grow with Google Challenge Scholarship. January 2018</p>
        <p>Ambitionista Member Spotlight. August 2018</p>
      </div>
    </div>
  </section>
</div>

<%- include("partials/footer") %>
