/* ==== Basic Styles ==== */
body {
  background-color: #f6f2ea;
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

p, a, li {
  font-family: 'Josefin Slab', serif;
  color: #333;
}

a {
  color: #558976;
  text-decoration: none;
}

a:hover {
  color: #9dac38;
}

/* ==== Header ==== */
.navbar-brand {
  color: #385001;
  font-family: 'Roboto Condensed', sans-serif;
}

/* === Banner === */
.bgimage {
  height: 100vh;
  background-color: #385001;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero_title {
  font-size: 4.5rem;
  color: #fdfcfb;
}

.hero_desc {
  font-size: 2rem;
  color: #fdfcfb;
}

/*=== Career Compass ===*/
#career-compass p {
  color: #333;
  font-size: 1.3rem;
}

/*=== Services ===*/
#services p {
  color: #333;
}

.servicesText .card {
  height: 280px;
  cursor: pointer;
}

.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}

#services .card-title {
  text-align: center;
}

#services .card-text {
  font-size: 1.3rem;
}

#services .card:hover, .servicesIcon {
  color: #9dac38;
}

.servicesText:hover {
  border: 1px solid #9dac38;
}

/* === Portfolio === */ 
#portfolio .card-title {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

#portfolio .card-text {
  font-size: 1.3rem;
  color: #333;
}

#portfolio .btn {
  color: #fdfcfb;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.extras p {
  font-size: 1.3rem;
  color: #333;
}

.extras a {
  color: #558976;
  text-decoration: none;
}

.extras a:hover {
  color: #9dac38;
}

/*=== Speaking ===*/ 
#speaking iframe {
  width: 100%;
}

/* === Contact ===*/ 
#contact p {
  font-size: 1.3rem;
  color: #333;
}

.social-icons {
  font-size: 36px;
  cursor: pointer;
}

.fa-facebook:hover, .fa-instagram:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-pinterest:hover, .fa-github:hover {
  color: #9dac38;
}

.fab {
  color: #fdfcfb;
}

/*=== Footer ===*/
#footer {
  background-color: #385001;
  padding-bottom: 10px;
}

#footer p {
  color: #fdfcfb;
  font-size: 16px;
}