/* ==== Basic Styles ==== */
body {
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p, a, li {
  font-family: 'Josefin Slab', serif;
  color: #03263a;
  line-height: 35px;
}

a {
  color: #034372;
  text-decoration: none;
}

a:hover {
  color: #768cb9;
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.card-text {
  font-size: 1.3rem;
}

/* == Header == */
header .navbar {
  background-color: #03263a;
}

header .navbar-brand .navbar-item {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

header .navbar-menu .navbar-item {
  color: #fff;
}

header .navbar .navbar-item:hover {
  background-color: #2670a3;
  color: #034372;
}

/*=== Career Compass ===*/
#career-compass h1 {
  font-size: 1.5rem;
}

/* === Portfolio === */ 
#portfolio h2 {
  font-size: 2rem;
}

#portfolio p {
  line-height: 35px;
  padding-bottom: 15px;
}

#portfolio .button {
  background-color: #034372;
  color: #fff;
}

#portfolio .button:hover {
  background-color: #2670a3;
  color:#034372;
}

/* === Writing === */ 
#writing h3 {
  font-size: 2rem;
  padding-bottom: 10px;
}

#writing p {
  line-height: 35px;
  padding-bottom: 15px;
}

#writing .button {
  background-color: #034372;
  color: #fff;
}

#writing .button:hover {
  background-color: #2670a3;
  color:#034372;
}

/* === Contact ===*/ 
#contact {
  padding-bottom: 15px;
}

#contact h2 {
  font-size: 2rem;
}

#contact p {
  font-size: 1.3rem;
}

.social-icons {
  font-size: 36px;
  cursor: pointer;
}

.fa-facebook:hover, .fa-instagram:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-pinterest:hover, .fa-github:hover {
  color: #768cb9;
}

.fab {
  color: #03263a;
}

/*=== Footer ===*/
#footer {
  background-color: #03263a;
  padding-bottom: 5px;
}

#footer p {
  color: #fff;
  font-size: 1rem;
}

#footer a {
  color:#fff;
}

#footer a:hover {
  color: #768cb9;
}