/* ==== Basic Styles ==== */
body {
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p, a, li {
  font-family: 'Josefin Slab', serif;
  color: #333;
  line-height: 35px;
}

a {
  color: #034372;
  text-decoration: none;
}

a:hover {
  color: #768cb9;
}

/* ==== Header ==== */
header .navbar {
  background-color: #03263a;
}

header .navbar-brand {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

/*=== Home ===*/
#home h2 {
  font-size: 24px;
}

#home p {
  font-size: 16px;
  padding-bottom: 15px;
}

#home ul li {
  color: #2670a3;
  font-size: 16px;
}

#hero ul li:hover {
  color:#034372;
}

/* === Projects === */
#projects h3 {
  font-size: 20px;
}

#projects h4 {
  font-size: 18px;
  padding-bottom: 15px;
}

#projects p {
  font-size: 16px;
  padding-bottom: 15px;
}

/* === About === */ 
#about h3 {
  font-size: 20px;
  padding-bottom: 15px;
}

#about p {
  font-size: 16px;
}

/* === Contact ===*/ 
#contact h3 {
  font-size: 20px;
}

#contact p {
  font-size: 16px;
}

.social-icons {
  cursor: pointer;
}

.fa-linkedin:hover, .fa-github:hover {
  color: #768cb9;
}

.fab {
  color: #03263a;
}

/*=== Footer ===*/
#footer {
  background-color: #03263a;
  padding: 5px 0;
}

#footer p {
  color: #fff;
  font-size: 16px;
}

#footer a {
  color:#fff;
}

#footer a:hover {
  color: #768cb9
}

/* Portfolio Branding 
#2670a3
#034372
#768cb9
#03263a
*/