/* ==== Basic Styles ==== */
body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #fdfcfb;
  font-size: 20px;
}

img {
  max-width: 100%;
}

/* ==== Header ==== */
header {
  background-color: #558976;
  height: 35%;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 30px;
  font-family: 'Homemade Apple', cursive;
  color: #fdfcfb;
  padding: 30px 0px;
  text-align: center;
}

header nav ul {
  padding: 15px 0;
}

header nav ul li {
  font-weight: bold;
}

header nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  color: #f6f2ea;
}

header nav ul li a:hover {
  color: #fdfcfb;
}

/* ==== Footer ==== */
footer {
  background: #558976;
  height: 50%;
  padding: 15px 0;
}

footer p {
  font-size: 16px;
  color: #f6f2ea;
}

footer ul li i {
  color: #385001;
}

footer ul li i:hover {
  color: #9dac38;
}

/* ==== Home Page ==== */
#career-compass, #skills {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

#career-compass p {
  font-size: 18px;
  color: #333;
  line-height: 32px;
}

#skills i {
  color: #558976;
  padding: 15px 55px;
}

#skills p {
  font-size: 18px;
  color: #333;
  line-height: 32px;
  padding: 20px;
}

/* About Page */
#about, #education, #blogs, #publications, #side-projects {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

#about img {
  padding-bottom: 20px;
}

#about h2 {
  font-size: 25px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
  word-spacing: 15px;
}

#about h3 {
  font-size: 20px;
  color: #333;
}

#about p {
  font-size: 18px;
  line-height: 32px;
  color: #333;
}

#education h2 {
  font-size: 25px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
}

#education p {
  font-size: 18px;
  line-height: 32px;
  color: #333;
}

#blogs h2 {
  font-size: 25px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
  padding-bottom: 15px;
}

#blogs h3 {
  font-size: 20px;
  color: #333;
}

#blogs p {
  font-size: 18px;
  line-height: 32px;
  color: #333;
}

#blogs button {
  margin-bottom: 50px;
  font-size: 18px;
}

#publications h2 {
  font-size: 25px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
}

#publications p {
  font-size: 18px;
  line-height: 32px;
  color: #333;
}

#publications ul li {
  font-size: 18px;
  color: #333;
}

#side-projects h2 {
  font-size: 25px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
  padding-bottom: 15px;
}

#side-projects p {
  font-size: 18px;
  line-height: 32px;
  color: #333;
}

#side-projects button {
  margin-bottom: 50px;
  font-size: 18px;
}

/* Portfolio Page */
#wordpress, #freecodecamp, #skillcrush, #hundred-days {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

#wordpress h2 {
  font-size: 25px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
}

#wordpress p {
  font-size: 18px;
  line-height: 32px;
  color: #333;
}

#wordpress img {
  padding: 25px 0;
}

#wordpress button {
  font-size: 18px;
}

#freecodecamp h2 {
  font-size: 25px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
}

#freecodecamp p {
  font-size: 18px;
  line-height: 32px;
  color: #333;
}

#freecodecamp img {
  padding: 25px 0;
}

#freecodecamp button {
  font-size: 18px;
}

#skillcrush h2 {
  font-size: 25px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
}

#skillcrush p {
  font-size: 18px;
  line-height: 32px;
  color: #333;
}

#skillcrush img {
  padding: 25px 0;
}

#skillcrush button {
  font-size: 18px;
}

#hundred-days h2 {
  font-size: 25px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
}

#hundred-days p {
  font-size: 18px;
  line-height: 32px;
  color: #333;
}

#hundred-days img {
  padding: 25px 0;
}

#hundred-days button {
  font-size: 18px;
}
