/* ==== Basic Styles ==== */
body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #fdfcfb;
  width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/* ==== Header ==== */
header {
  background-color: #558976;
}

header h1 {
  font-size: 35px;
  font-family: 'Homemade Apple', cursive;
  color: #fdfcfb;
  padding: 30px 0px;
  text-align: center;
}

header nav ul li {
  font-weight: bold;
}

header nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #f6f2ea;
  font-size: 20px;
}

header nav ul li a:hover {
  color: #fdfcfb;
}

/* ==== Footer ==== */
footer {
  background: #558976;
  padding: 15px 0;
}

footer p {
  font-size: 18px;
  color: #f6f2ea;
}

footer ul li i {
  color: #385001;
}

footer ul li i:hover {
  color: #9dac38;
}

/* ==== Home Page ==== */
#career-compass, #skills {
  padding: 20px 0;
}

#career-compass p {
  color: #333;
  line-height: 32px;
  font-size: 20px;
}

#skills i {
  color: #558976;
  padding: 15px 75px;
}

#skills p {
  color: #333;
  line-height: 32px;
  padding: 20px;
  font-size: 20px;
}

/* ==== About Page ==== */
#about, #education, #honors, #speaking, #blogs, #publications, #side-projects {
  padding: 20px 0;
}

#about img {
  padding-bottom: 30px;
}

#about h2 {
  font-size: 30px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
  word-spacing: 15px;
  text-align: center;
}

#about p {
  line-height: 32px;
  color: #333;
  font-size: 20px;
}

#education h2 {
  font-size: 30px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
  text-align: center;
}

#education p {
  line-height: 32px;
  color: #333;
  font-size: 20px;
}

#honors h2 {
  font-size: 30px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
  text-align: center;
}

#honors p {
  line-height: 32px;
  color: #333;
  font-size: 20px;
  padding-bottom: 15px;
}

#speaking h2 {
  font-size: 30px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
  text-align: center;
}

#speaking p {
  line-height: 32px;
  color: #333;
  font-size: 20px;
}

#speaking iframe {
  width: 100%;
  height: 400px;
}

#blogs h2 {
  font-size: 30px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
  padding-bottom: 10px;
  text-align: center;
}

#blogs h3 {
  font-size: 25px;
  color: #333;
}

#blogs p {
  line-height: 32px;
  color: #333;
  padding-bottom: 15px;
  font-size: 20px;
}

#blogs button {
  margin-bottom: 50px;
}

#publications h2 {
  font-size: 30px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
  text-align: center;
}

#publications p {
  line-height: 32px;
  color: #333;
  font-size: 20px;
  padding-bottom: 15px;
}

#publications ul li {
  color: #333;
  font-size: 20px;
}

#side-projects h2 {
  font-size: 30px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
  text-align: center;
}

#side-projects p {
  line-height: 32px;
  color: #333;
  font-size: 20px;
}

#side-projects button {
  margin-bottom: 50px;
  font-size: 20px;
}

/* ==== Portfolio Page ==== */
#wordpress, #freecodecamp, #skillcrush, #hundred-days {
  padding: 20px 0;
}

#wordpress h2 {
  font-size: 30px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
  text-align: center;
}

#wordpress p {
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

#wordpress img {
  padding: 25px 0;
}

#freecodecamp h2 {
  font-size: 30px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
  padding-bottom: 15px;
  text-align: center;
}

#freecodecamp p {
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

#freecodecamp img {
  padding: 25px 0;
}

#skillcrush h2 {
  font-size: 30px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
  text-align: center;
}

#skillcrush p {
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

#skillcrush img {
  padding: 25px 0;
}

#hundred-days h2 {
  font-size: 30px;
  font-family: 'Homemade Apple', cursive;
  color: #385001;
  text-align: center;
}

#hundred-days p {
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

#hundred-days img {
  padding: 25px 0;
}
