/* Sass variables */
/* ==== Basic Styles ==== */
body {
  background-color: #fdfcfb;
  width: 100%;
  margin: 0 auto;
}

/* ==== Header ==== */
header {
  background-color: #385001;
}
header .navbar-brand {
  font-size: 25px;
  font-family: "Roboto Condensed", sans-serif;
  color: #fdfcfb;
}
header ul li {
  font-weight: bold;
}
header ul li a {
  color: #fdfcfb;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
}
header ul li a:hover {
  color: #9dac38;
}

/* ==== Home Page ==== */
#banner {
  background-color: #558976;
  height: 300px;
  width: 100%;
  padding: 100px 0;
  text-align: center;
}
#banner h2 {
  font-family: "Roboto Condensed", sans-serif;
  color: #f6f2ea;
  font-size: 25px;
}
#banner h3 {
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 15px 0;
  color: #f6f2ea;
}

#career-compass {
  padding: 40px;
}
#career-compass p {
  font-family: "Josefin Slab", serif;
  font-size: 20px;
  line-height: 32px;
}
#career-compass img {
  padding-top: 15px;
}

#skills {
  padding: 40px;
}
#skills h2 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
  color: #385001;
}
#skills h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  color: #558976;
}
#skills li {
  font-size: 20px;
  font-family: "Josefin Slab", serif;
}

#about {
  padding: 40px;
}
#about h2 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
  color: #385001;
  padding-bottom: 15px;
}
#about img {
  padding: 15px 0;
}
#about p {
  font-size: 20px;
  line-height: 32px;
  font-family: "Josefin Slab", serif;
}

#portfolio {
  padding: 40px;
}
#portfolio h2 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
  color: #385001;
}
#portfolio img {
  padding: 15px 0;
}
#portfolio h3 {
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  color: #558976;
}
#portfolio p {
  font-size: 20px;
  font-family: "Josefin Slab", serif;
  line-height: 32px;
}
#portfolio a {
  font-size: 20px;
  color: #385001;
  text-decoration: none;
  font-family: "Josefin Slab", serif;
}
#portfolio a:hover {
  color: #9dac38;
}

#codenewbie {
  padding: 40px;
}
#codenewbie h2 {
  font-size: 25px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  color: #385001;
}
#codenewbie h3 {
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  color: #558976;
  padding: 25px 0;
}
#codenewbie p {
  font-family: "Josefin Slab", serif;
  font-size: 20px;
  line-height: 32px;
}
#codenewbie a {
  font-size: 20px;
  color: #385001;
  text-decoration: none;
  font-family: "Josefin Slab", serif;
}
#codenewbie a:hover {
  color: #9dac38;
}

#practical-dev {
  padding: 40px;
}
#practical-dev h2 {
  font-size: 25px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  color: #385001;
}
#practical-dev h3 {
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  color: #558976;
  padding: 25px 0;
}
#practical-dev p {
  font-family: "Josefin Slab", serif;
  font-size: 20px;
  line-height: 32px;
}
#practical-dev a {
  font-size: 20px;
  color: #385001;
  text-decoration: none;
  font-family: "Josefin Slab", serif;
}
#practical-dev a:hover {
  color: #9dac38;
}

/* ==== Footer ==== */
#hired {
  background-color: #f6f2ea;
  padding: 15px 0;
}
#hired p {
  font-size: 18px;
  color: #385001;
  font-family: "Roboto Condensed", sans-serif;
  padding-left: 20px;
}
#hired p i {
  color: #385001;
  padding-right: 10px;
}
#hired li {
  padding: 10px 0;
}
#hired li a {
  color: #385001;
}
#hired li a:hover {
  color: #9dac38;
}

#copyright {
  background: #385001;
  padding: 15px 0;
}
#copyright p {
  font-size: 18px;
  color: #fdfcfb;
  font-family: "Roboto Condensed", sans-serif;
}

/*# sourceMappingURL=responsive.css.map */
