/* Basic Styles */
body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #fdfcfb;
}

/* Grid System */
.full-width {
  width: 100%;
  margin: 0 auto;
}

.half-width {
  width: 50%;
  float: left;
}

.third-width {
  width: 30%;
  float: left;
}

/* Header */
header {
  background-color: #558976;
  height: 220px;
}

header h1 {
  font-size: 55px;
  font-family: 'Homemade Apple', cursive;
  color: #fdfcfb;
  padding: 20px 30px;
}

header nav {
  float: right;
  padding: 80px 20px;
}

header nav ul li {
  font-weight: bold;
  list-style: none;
  display: inline-block;
}

header nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 22px;
  color: #f6f2ea;
  padding-left: 20px;
}

header nav ul li a:hover {
  color: #fdfcfb;
}

/* Contact */
#contact h2 {
  font-family: 'Homemade Apple', cursive;
  font-size: 45px;
  color: #385001;
}

#contact h3 {
  font-size: 35px;
  color: #333;
}

#contact p {
  font-size: 20px;
  color: #333;
}

#contact ul li {
  display: inline-block;
}

#contact ul li i {
  color: #385001;
  padding-left: 25px;
}

#contact ul li i:hover {
  color: #9dac38;
}

/* Footer */
footer {
  background: #558976;
  height: 35px;
}

footer p {
  font-size: 16px;
  color: #f6f2ea;
}

/* Home Page */
#career-compass {
  font-size: 20px;
  color: #333;
  line-height: 32px;
}

#skills .third-width {
  height: 35%;
  padding-left: 40px;
}

#skills img {
  width: 95%;
}

#skills p {
  font-size: 20px;
  color: #333;
  line-height: 32px;
}

/* About Sarah */
#about {
  height: 675px;
}

#about h2 {
  font-size: 40px;
  font-family: 'Over the Rainbow', cursive;
  color: #558976;
  padding-left: 20px;
}

#about img {
  height: 450px;
  padding-left: 95px;
}

#about p {
  font-size: 20px;
  color: #333;
  line-height: 32px;
}

#about a {
  color: #558976;
}

#about a:hover {
  color: #9dac38;
}

/* Portfolio */
#portfolio {
  height: 650px;
}

#portfolio .third-width {
  padding-left: 25px;
}

#portfolio img {
  padding-bottom: 30px;
  width: 400px;
}

#portfolio h2 {
  font-size: 40px;
  color: #558976;
  font-family: 'Over the Rainbow', cursive;
  padding-left: 20px;
}

#portfolio h3 {
  font-size: 30px;
  padding-left: 25px;
}

#portfolio ul {
  padding-bottom: 15px;
}

#portfolio ul li {
  font-size: 20px;
  color: #333;
}
