/* Sass variables */
/* Basic Styles */
body {
  background-color: #fdfcfb;
  width: 100%;
  margin: 0 auto;
  color: #333;
}

/* ==== Header ==== */
header {
  background-color: #558976;
}
header .navbar-brand {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  color: #fdfcfb;
}
header li {
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  padding: 0 10px;
}
header li a {
  color: #fdfcfb;
  font-size: 20px;
}
header li a:hover {
  color: #9dac38;
}

/* ==== Hired Section ==== */
#hired {
  border: 2px solid #558976;
  padding: 40px 15px;
}
#hired h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 35px;
  color: #558976;
  padding: 10px 0;
}
#hired p {
  font-size: 20px;
  line-height: 32px;
  font-family: "Josefin Slab", serif;
}
#hired h3 {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
}
#hired i {
  color: #558976;
}
#hired li a {
  color: #558976;
}
#hired li a:hover {
  color: #9dac38;
}

/* ==== Footer ==== */
footer {
  background: #558976;
  padding: 25px 0;
}
footer p {
  font-size: 16px;
  color: #fdfcfb;
  font-family: "Roboto Condensed", sans-serif;
}

/* ==== Home Page ==== */
.main-image img {
  height: 500px;
}

#career-compass {
  font-family: "Josefin Slab", serif;
  font-size: 20px;
  line-height: 32px;
  padding: 40px 0;
}

/* ==== About Page ==== */
#about {
  padding: 40px 0;
}
#about h2 {
  font-family: "Roboto Condensed", sans-serif;
  color: #558976;
  font-size: 35px;
}
#about img {
  margin: 20px 0;
  width: 90%;
}
#about .first-group {
  padding: 20px 0;
}
#about p {
  font-size: 20px;
  font-family: "Josefin Slab", serif;
  line-height: 32px;
}

/* Portfolio Page */
#gallery {
  padding: 40px 15px 20px 15px;
}
#gallery h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 35px;
  color: #558976;
}
#gallery img {
  margin: 25px 0;
}
#gallery h3 {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}
#gallery p {
  font-size: 20px;
  font-family: "Josefin Slab", serif;
  line-height: 32px;
}
#gallery a {
  color: #558976;
  font-size: 20px;
  font-family: "Josefin Slab", serif;
}
#gallery a:hover {
  color: #9dac38;
}

#writing {
  padding: 15px;
}
#writing h3 {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 20px 0;
}
#writing a {
  color: #558976;
  font-size: 20px;
}
#writing a:hover {
  color: #9dac38;
}
#writing p {
  font-size: 20px;
  font-family: "Josefin Slab", serif;
}
#writing h4 {
  font-size: 25px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 15px 0;
}
#writing li {
  font-size: 20px;
  font-family: "Josefin Slab", serif;
}

#side-projects {
  padding: 15px;
}
#side-projects h3 {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
}
#side-projects h4 {
  font-size: 25px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px 0;
}
#side-projects p {
  font-size: 20px;
  font-family: "Josefin Slab", serif;
  line-height: 32px;
}
#side-projects button {
  background-color: #558976;
  color: #fdfcfb;
  margin-bottom: 25px;
}

#honors {
  padding: 15px;
}
#honors h3 {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 15px 0;
}
#honors p {
  font-size: 20px;
  font-family: "Josefin Slab", serif;
}
#honors a {
  font-size: 20px;
  font-family: "Josefin Slab", serif;
  color: #558976;
}
#honors a:hover {
  color: #9dac38;
}

#video {
  padding: 15px;
}
#video h3 {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px 0;
}
#video p {
  font-size: 20px;
  font-family: "Josefin Slab", serif;
}
#video iframe {
  height: 400px;
  width: 100%;
}

/* Project Pages */
#description {
  padding: 40px 15px;
}
#description h2 {
  font-size: 35px;
  font-family: "Roboto Condensed", sans-serif;
  color: #558976;
}
#description img {
  padding: 20px 0;
}
#description h3 {
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px 0;
  color: #333;
}
#description li {
  font-size: 20px;
  color: #333;
  font-family: "Josefin Slab", serif;
}
#description p {
  font-size: 20px;
  color: #333;
  line-height: 32px;
  font-family: "Josefin Slab", serif;
}
#description a {
  font-size: 20px;
  color: #558976;
  font-family: "Josefin Slab", serif;
}
#description a:hover {
  color: #9dac38;
}

#back {
  padding: 15px;
}
#back a {
  color: #558976;
  font-size: 20px;
  font-family: "Josefin Slab", serif;
}
#back a:hover {
  color: #9dac38;
}

/*# sourceMappingURL=style.css.map */
