/* ==== Basic Styles ==== */
body {
  background-color: #EDF2F7;
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p, a, li {
  font-family: 'Josefin Slab', serif;
  color: #333;
}

a {
  color: #034372;
  text-decoration: none;
}

a:hover {
  color: #2670a3;
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.card-text {
  font-size: 1.3rem;
}

/* ==== Header ==== */
/* .navbar-brand a {
  font-family: 'Roboto Condensed', sans-serif;
}

#navbarMain a {
  font-family: 'Josefin Slab', serif;
} 
*/

/*=== Career Compass ===*/
#career-compass h1 {
  font-size: 1.5rem;
  padding-bottom: 10px;
}

#career-compass p {
  font-size: 1.3rem;
}

/* === Portfolio === */ 
#portfolio h2 {
  font-size: 1.5rem;
}

#portfolio p { 
  font-size: 1.3rem;
}

/* === Writing === */ 
#writing h3 {
  font-size: 1.5rem;
}

#writing .card-title {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

#writing .card-text {
  font-size: 1.3rem;
  color: #51555B;
}

/* === Contact ===*/ 
#contact {
  border: 2px solid #8FA2CA;
  padding-bottom: 15px;
}

#contact h2 {
  font-size: 1.5rem;
}

#contact p {
  font-size: 1.3rem;
  /* color: #51555B; */
}

.social-icons {
  font-size: 36px;
  cursor: pointer;
}

.fa-facebook:hover, .fa-instagram:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-pinterest:hover, .fa-github:hover {
  color: #B5C6B8;
}

.fab {
  color: #8FA2CA;
}

/*=== Footer ===*/
#footer {
  background-color: #8FA2CA;
  padding: 5px 0;
}

#footer p {
  color: #51555B;
  font-size: 16px;
}

#footer a {
  color:#48523D;
}

#footer a:hover {
  color: #B5C6B8;
}
